@model Oberon.Models.Usuario
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Bienvenido @Model.Nombre</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">
            Estas logueado como administrador, buena suerte.
        </p>

        <!-- Grid row -->
        

    </section>
    <!-- Section: Team v.2 -->

</div>



