@model IEnumerable<Oberon.Models.ProductoPedido>

@{
    ViewData["Title"] = "Sells";
    
}
@section scripts{
    <script>
        var model = @Html.Raw(Json.Serialize(Model));
        var pedidos = @Html.Raw(Json.Serialize(ViewBag.Pedidos));
        console.log(pedidos);
        var camisetas = new Array();
        var camisetasT = 0;
        var camisetasU = new Array();
        var sudaderas = new Array();
        var sudaderasT = 0;
        var sudaderasU = new Array();
        var varios = new Array();
        var variosT = 0;
        var variosU = new Array();
        var tiempo = new Array();
        $.each(model, function (index, value) {
            if (value.producto.tipo == "Camiseta") {
                camisetas.push(value.producto.nombre);
                camisetasU.push(value.unidades)
                camisetasT += value.unidades;
            } else if (value.producto.tipo == "Sudadera") {
                sudaderas.push(value.producto.nombre);
                sudaderasU.push(value.unidades)
                sudaderasT += value.unidades;
            } else if (value.producto.tipo == "Cóctel") {
                varios.push(value.producto.nombre);
                variosU.push(value.unidades)
                variosT += value.unidades;
            }
        });
        var months = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio");
        var meses = new Array();
        var total = new Array();
        $.each(pedidos, function (index, value) {
            var fecha = new Date(value.fecha_Pedido);
            var aux = meses.indexOf(months[fecha.getMonth()]);
            if (aux != -1) {
                total[aux] += value.total;
            } else {
                meses.push(months[fecha.getMonth()]);
                total.push(value.total);
            } 
        });
        var ctx = document.getElementById("total").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Camisetas", "Sudaderas", "Varios"],
                datasets: [{
                    label: 'Nº de ventas por tipo',
                    data: [camisetasT, sudaderasT, variosT],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx = document.getElementById("tiempo").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: meses,
                datasets: [{
                    label: '€ en el tiempo',
                    data: total,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(223, 33, 255, 0.2)',
                        'rgba(33, 223, 100, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(223, 33, 255, 1)',
                        'rgba(33, 223, 100, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        var ctx = document.getElementById("camisetas").getContext('2d');
        var myChart = new Chart(ctx, {
            "type": "horizontalBar",
            "data": {
                "labels": camisetas,
                "datasets": [{
                    "label": "Nº camisetas vendidas",
                    "data": camisetasU,
                    "fill": false,
                    "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)",
                        "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"
                    ],
                    "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
                        "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"
                    ],
                    "borderWidth": 1
                }]
            },
            "options": {
                "scales": {
                    "xAxes": [{
                        "ticks": {
                            "beginAtZero": true
                        }
                    }]
                }
            }
        });
        var ctx = document.getElementById("sudaderas").getContext('2d');
        var myChart = new Chart(ctx, {
            "type": "horizontalBar",
            "data": {
                "labels": sudaderas,
                "datasets": [{
                    "label": "Nº sudaderas vendidas",
                    "data": sudaderasU,
                    "fill": false,
                    "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)",
                        "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"
                    ],
                    "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
                        "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"
                    ],
                    "borderWidth": 1
                }]
            },
            "options": {
                "scales": {
                    "xAxes": [{
                        "ticks": {
                            "beginAtZero": true
                        }
                    }]
                }
            }
        });
        var ctx = document.getElementById("varios").getContext('2d');
        var myChart = new Chart(ctx, {
            "type": "horizontalBar",
            "data": {
                "labels": varios,
                "datasets": [{
                    "label": "Nº de varios vendidos",
                    "data": variosU,
                    "fill": false,
                    "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)",
                        "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)", "rgba(54, 162, 235, 0.2)",
                        "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"
                    ],
                    "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
                        "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)", "rgb(201, 203, 207)"
                    ],
                    "borderWidth": 1
                }]
            },
            "options": {
                "scales": {
                    "xAxes": [{
                        "ticks": {
                            "beginAtZero": true
                        }
                    }]
                }
            }
        });
    </script>
}
    <div class="m-5 px-5">
        <div class="row d-flexr pt-5">

            <!--Grid column-->
            <div class="col-md-6">
                <h3 class="h3">Ventas totales</h3>
                <canvas id="total"></canvas>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6">
                <h3 class="h3">Ventas en el tiempo</h3>
                <canvas id="tiempo"></canvas>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
        <div class="row d-flex  my-5">

            <!--Grid column-->
            <div class="col-md-6">
                <h3 class="h3">Camisetas</h3>
                <canvas id="camisetas"></canvas>
            </div>
            <!--Grid column-->
            <div class="col-md-6">
                <h3 class="h3">Sudaderas</h3>
                <canvas id="sudaderas"></canvas>
            </div>
        </div>
        <!--Grid row-->
        <div class="row d-flex  my-5">

            <!--Grid column-->
            <div class="col-md-6">
                <h3 class="h3">Varios</h3>
                <canvas id="varios"></canvas>
            </div>
            <!--Grid column-->
           
        </div>
        <!--Grid row-->
    </div>
