@{
    ViewData["Title"] = "_PartialMenuUsuario";
}
@model Oberon.Models.Usuario


<ul class="navbar-nav nav-flex-icons ">
    <li class="nav-item">
        <span>Bienvenido @Model.User, aqui podras administrar la aplicacion.</span>
    </li>
    <li class="nav-item">
        <a asp-action="Logout" asp-controller="Validacion" class="nav-link waves-effect  hvr-underline-from-center"> Cerrar sesión</a>
    </li>
</ul>


