@{
    ViewData["Title"] = "_PartialMenuUsuario";
}
@model Oberon.Models.Usuario

<div class="sidebar-header">
    <div class="user-pic">
        <img class="img-responsive img-rounded" src="~/images/Javier.jpg"
             alt="User picture">
    </div>
    <div class="user-info">
        <span class="user-name">
            @Model.Nombre
            <strong>@Model.Apellidos</strong>
        </span>
        <span class="user-role">@Model.Rol</span>
        <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
            
        </span>

    </div>
</div>



