    <!-- Footer -->
<footer class="text-light footer mt-auto elegant-color">
    <div class="container">
        <div class="row pt-4 text-center text-lg-left ">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>Síguenos en redes</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <div>
                    <a href="https://instagram.com/oberonclothingdeerbrand/" class="text-light"><i class="fab fa-instagram mr-2 fa-2x"></i></a>
                    <a href="https://www.facebook.com/Oberon-Clothing-2003896452970311/"><i class="fab fa-facebook mr-2 fa-2x"></i></a>
                    <a href="https://www.youtube.com/channel/UCB3CXpEj20UW7Fzf9AXpWmg/featured?view_as=subscriber" class="text-danger"><i class="fab fa-youtube mr-2 fa-2x"></i></a>
                </div>

            </div>
            <div class="col-md-5 col-lg-4 col-xl-2 mx-auto">
                <h5>Información</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="https://www.oberonclothing.com/aviso-legal" class="text-light">Aviso legal</a></li>
                    <li><a href="" class="text-light">Politica de cookies</a></li>
                    <li><a href="https://www.oberonclothing.com/devoluciones" class="text-light">Devoluciones</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-3">
                <h5>Contact</h5>
                <p class="float-right">
                    <a href="#"><i class="fas fa-angle-up text-white fa-lg"></i></a>
                </p>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Oberon Clothing</li>
                    <li><i class="fa fa-envelope mr-2"></i> hola@oberonclothing.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 elegant-color-dark small">
        © 2019 Copyright: Oberon Clothing Company - Madrid, Comunidad de Madrid, España
    </div>
    <!-- Copyright -->
</footer>
<!--/.Footer-->


