
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar top-nav-collapse" style="background-color:rgba(0, 0, 0, 0.8)">
        <a class="navbar-brand waves-effect" href="@Url.Action("Index")">
            <img src="~/images/White-Logo.webp" height="60" alt="mdb logo">
        </a>

        <div class="page-wrapper chiller-theme ">
            <a id="show-sidebar" href="#" class="text-light">
                <i class="fas fa-bars fa-lg"></i>
            </a>

            <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                    <div class="sidebar-brand">
                        <a class="navbar-brand waves-effect" href="@Url.Action("Index")">
                            <img src="~/images/White-Logo.webp" height="50" alt="mdb logo">
                        </a>
                        <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    @await Component.InvokeAsync("MenuLogOut")

                    <div class="sidebar-menu">
                        <ul>
                            <li class="header-menu">
                                <span>General</span>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-tachometer-alt"></i>
                                    <span>Visualizacion</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Home
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">Tienda</a>
                                        </li>
                                        <li>
                                            <a href="#">Producto</a>
                                        </li>
                                        <li>
                                            <a href="#">Carrito</a>
                                        </li>
                                        <li>
                                            <a href="#">Contacto</a>
                                        </li>
                                        <li>
                                            <a href="#">Quienes somos</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>E-commerce</span>
                                    
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                Añadir productos
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="ModificarProductos" asp-controller="Home">Modificar productos</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="far fa-user"></i>
                                    <span>Usuarios</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a href="#">Añadir usuarios</a>
                                        </li>
                                        <li>
                                            <a asp-action="ModificarUsuarios" asp-controller="Home">Modificar usuarios</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="sidebar-dropdown">
                                <a href="#">
                                    <i class="fa fa-chart-line"></i>
                                    <span>Estadisticas</span>
                                </a>
                                <div class="sidebar-submenu">
                                    <ul>
                                        <li>
                                            <a asp-action="ShowStock" asp-controller="Home">Ver stock</a>
                                        </li>
                                        <li>
                                            <a asp-action="Sells" asp-controller="Home">Ventas</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                           
                            
                        </ul>
                    </div>
                    <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-content  -->
                <div class="sidebar-footer">
                    <a href="#">
                        <i class="fa fa-bell"></i>
                        <span class="badge badge-pill badge-warning notification">3</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span class="badge badge-pill badge-success notification">7</span>
                    </a>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="badge-sonar"></span>
                    </a>
                    <a asp-area="" asp-action="Logout" asp-controller="Validacion"><i class="fa fa-power-off"></i></a>
                    <a href="#">
                        
                    </a>
                </div>
            </nav>
        </div>
        <!-- sidebar-wrapper  -->

    </nav>

</header>

