@{
    ViewBag.Title = "Inicio";
}


<div class="m-auto col-lg-10 p-sm-0">
    <div id="carousel-example-2" class="carousel slide carousel-fade pt-4 mt-4" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100 rounded" src="~/images/1.jpg" alt="First slide">

                </div>
                <div class="carousel-caption">
                    <a asp-action="Tienda" asp-controller="HOME" class="btn btn-outline-light">COMPRA AHORA</a>
                    <p>Nueva coleccion 2018</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100 rounded" src="~/images/5.jpg" alt="Second slide">

                </div>
                <div class="carousel-caption">
                    <a asp-action="Tienda" asp-controller="HOME" class="btn btn-outline-light">COMPRA AHORA</a>
                    <p>Nueva coleccion 2018</p>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100 rounded" src="~/images/6.jpg" alt="Third slide">

                </div>
                <div class="carousel-caption">
                    <a asp-action="Tienda" asp-controller="HOME" class="btn btn-outline-light">COMPRA AHORA</a>
                    <p>Nueva coleccion 2018</p>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
</div>

<!--/.Carousel Wrapper-->

<div class="col-12 m-auto col-lg-10 ">
    <h3 class="section-heading mb-5  h1 mt-5 pt-4 text-center">Nuestros productos</h3>
    <div class="row mb-5">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half rounded">
                <!--Card image-->
                <div class="view zoom rounded ">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/5.jpg" class="img-fluid rounded " alt="">
                    <div class="stripe dark">
                        <a asp-action="Tienda" asp-controller="Home" asp-route-tipo="Camiseta"><p>Camisetas</p></a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half rounded ">
                <!--Card image-->
                <div class="view zoom rounded ">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid rounded " alt="">
                    <div class="stripe light">
                        <a asp-action="Tienda" asp-controller="Home" asp-route-tipo="Sudadera"><p>Sudaderas</p></a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half rounded ">
                <!--Card image-->
                <div class="view zoom rounded ">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid rounded " alt="">
                    <div class="stripe dark">
                        <a asp-action="Tienda" asp-controller="Home" asp-route-tipo="Coctel"><p>Accesorios</p></a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Grid column-->
        <!--Fourth column-->
        <div class="col-lg-3 col-md-6 mb-4">

            <!--Collection card-->
            <div class="card collection-card z-depth-1-half rounded ">
                <!--Card image-->
                <div class="view zoom rounded ">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid rounded " alt="">
                    <div class="stripe light">
                        <a asp-action="Tienda" asp-controller="Home" asp-route-tipo="Sudadera"><p>Sudaderas</p></a>
                    </div>
                </div>
                <!--Card image-->
            </div>
            <!--Collection card-->

        </div>
        <!--Fourth column-->

    </div>
</div>

<div class="col-12 m-auto col-lg-10">

    <h3 class="section-heading mb-5  h1 mt-5 pt-4 text-center">Siguenos en Instagram!</h3>
    <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://scontent-mad1-1.cdninstagram.com/vp/1ca701377c26413a82c3fbf0053590fc/5CA5F7EF/t51.2885-15/sh0.08/e35/s640x640/46594517_1314875638673608_6821643240182675408_n.jpg?_nc_ht=scontent-mad1-1.cdninstagram.com" alt="Card image cap">
                <a href="https://www.instagram.com/p/BrnW3KGAS2T/">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">🦌 Deer Brand 🦌 </h4>
                <!--Text-->
                <p class="card-text">Bad vives.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-light-blue btn-md">Follow!</button>

            </div>

        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://scontent-mad1-1.cdninstagram.com/vp/c8a2cd893b605ad1e9fc61c2024bf159/5CD28D5A/t51.2885-15/sh0.08/e35/s640x640/42931834_924068154462411_7328491923130424142_n.jpg?_nc_ht=scontent-mad1-1.cdninstagram.com" alt="Card image cap">
                <a href="https://www.instagram.com/p/BrDlTJEgbiH/">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">🦌 Deer Brand 🦌 </h4>
                <!--Text-->
                <p class="card-text">Cool style.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-light-blue btn-md">Follow!</button>

            </div>

        </div>
        <!-- Card -->
        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://scontent-mad1-1.cdninstagram.com/vp/8e82eaceb9e9bc6c4d3027937f0c3089/5CCDAA6F/t51.2885-15/e35/47585781_2212816352299509_9135871938384749574_n.jpg?_nc_ht=scontent-mad1-1.cdninstagram.com">
                <div class="mask rgba-white-slight"></div>
                
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">🦌 Deer Brand 🦌 </h4>
                <!--Text-->
                <p class="card-text">Awesome team.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" class="btn btn-light-blue btn-md">Follow!</button>

            </div>

        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->
</div>


