<div class="container mt-5 pt-5">
    <section class="my-5">


        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5">

                <!-- Featured image -->
                <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                    <img class="img-fluid" src="~/images/C_Azul.webp" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Post title -->
                <h6 class="grey-text">Tipo: </h6>
                <h3 class="font-weight-bold mb-3"><strong>Camiseta Azul</strong></h3>

                <h6 class="grey-text">Talla: </h6>
                <section>Talla</section>

                <h6 class="grey-text">Cantidad: </h6>
                1
                <!-- Excerpt -->
                <!-- Post data -->
                <h6 class="grey-text">Precio: </h6>
                <strong>20€</strong>
                <br />
                <!-- Read more button -->
                <a class="btn btn-info btn-md">Comprar</a>
                <hr />
                <h6 class="grey-text">Info: </h6>
                <p>
                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.
                </p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->



    </section>
    <!-- Section: Blog v.1 -->
</div>