
@{
    ViewBag.Title = "Sobre";
}

<div class="container">
    <!-- Section: Team v.2 -->
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Nuestra historia</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">
            
        </p>

        <!-- Grid row -->
        <div class="row text-center">

            <!-- Grid column -->
            <div class="col-lg-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/images/Alex1.jpg" class="rounded z-depth-1-half w-responsive m-auto" alt="Sample avatar">
                </div>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-6 mb-md-0 mb-5">
                <!-- Section heading -->
                <!-- Section description -->

                <span class="grey-text m-auto mb-5">
                    Todo empezo con un sueño...
                </span>
            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Team v.2 -->
    <!-- Section: Team v.2 -->
    <section class="team-section text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Nuestro impresionante equipo</h2>
        <!-- Section description -->
        <p class="grey-text w-responsive mx-auto mb-5">
            Sin la pasion que han demostrado, esta tienda no seria una realidad. 
        </p>

        <!-- Grid row -->
        <div class="row text-center">

            <!-- Grid column -->
            <div class="col-lg-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/images/Alex.jpg" class="rounded z-depth-1-half w-responsive m-auto" alt="Sample avatar">
                </div>
                <h4 class="font-weight-bold dark-grey-text my-4">Alessandro Nuor </h4>
                <h6 class="text-uppercase grey-text mb-3"><strong>Creador, fotógrafo</strong></h6>
                <!--Email-->
                <!-- Facebook-->
                <a class="p-2 fa-lg fb-ic">
                    <i class="fab fa-facebook-f"> </i>
                </a>
                <!-- Twitter -->
                <a class="p-2 fa-lg tw-ic">
                    <i class="fab fa-twitter"> </i>
                </a>
                <!--Dribbble -->
                <a class="p-2 fa-lg dribbble-ic">
                    <i class="fab fa-dribbble"> </i>
                </a>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-6 mb-md-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="~/images/Javier.jpg" class="rounded z-depth-1-half w-responsive m-auto" alt="Sample avatar">
                </div>
                <h4 class="font-weight-bold dark-grey-text my-4">Javier Sánchez</h4>
                <h6 class="text-uppercase grey-text mb-3"><strong>Front-end Developer</strong></h6>
                <!-- Facebook-->
                <a class="p-2 fa-lg fb-ic">
                    <i class="fab fa-facebook-f"> </i>
                </a>
                <!-- Twitter -->
                <a class="p-2 fa-lg tw-ic">
                    <i class="fab fa-twitter"> </i>
                </a>
                <!--Dribbble -->
                <a class="p-2 fa-lg dribbble-ic">
                    <i class="fab fa-dribbble"> </i>
                </a>
            </div>
            <!-- Grid column -->


        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Team v.2 -->

</div>

